<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div
  class="container"
  fxFlex="100%"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  style="min-height: 100vh"
>
  <div fxFlex="100%" class="rate-limit-reached" *ngIf="isRateLimitReached">
    Error loading data
  </div>

  <div
    fxFlex="96%"
    fxFlex.xs="100%"
    fxFlex.lt-md="100%"
    class="mat-elevation-z0"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <mat-accordion fxFlex="100%">
      <mat-expansion-panel style="margin: 0px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'actions.operations' | transloco }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div
          fxLayout="row wrap"
          fxFlex="100%"
          fxFlex.xs="100%"
          fxFlex.lt-md="100%"
          fxLayoutAlign="end center"
          style="padding-left: 20px; padding-right: 20px; height: 50px"
        >
          <span style="width: 2%"></span>

          <button
            [disabled]="isDisabledEdit"
            color="primary"
            mat-raised-button
            routerLink="/package/add"
          >
            <mat-icon>add</mat-icon>
          </button>

          <span style="width: 0.2%"></span>

          <button
            [disabled]="isDisabledCsv"
            color="primary"
            type="button"
            mat-raised-button
            (click)="download()"
          >
            <mat-icon>file_copy</mat-icon>
          </button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel style="margin: 0px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'actions.filter' | transloco }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form
          (ngSubmit)="filter()"
          fxLayout="row wrap"
          fxFlex="98%"
          fxFlex.xs="100%"
          fxFlex.lt-md="100%"
          fxLayoutAlign="end center"
          [formGroup]="filterForm"
          #f="ngForm"
          class="form"
          fxFlex="100%"
          style="padding-left: 20px; padding-right: 20px"
        >
          <mat-form-field
            fxFlex="25%"
            fxFlex.xs="100%"
            fxFlex.lt-md="100%"
            class="field"
            appearance="outline"
          >
            <mat-label>Descripción</mat-label>

            <input
              matInput
              placeholder="description"
              formControlName="description"
            />
          </mat-form-field>

          <span style="width: 0.2%"></span>

          <mat-form-field
            fxFlex="25%"
            fxFlex.xs="100%"
            fxFlex.lt-md="100%"
            class="field"
            appearance="outline"
          >
            <mat-label>Rango de fechas</mat-label>

            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="dateGte" />
              <input matEndDate formControlName="dateLte" />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker> </mat-date-range-picker>
            <!-- <mat-hint>MM/YYYY</mat-hint> -->
          </mat-form-field>

          <span style="width: 0.2%"></span>

          <mat-form-field
            fxFlex="14%"
            fxFlex.xs="100%"
            fxFlex.lt-md="100%"
            class="field"
            appearance="outline"
          >
            <mat-label>{{ 'views.package.status' | transloco }}</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of getStatus" [value]="status">
                {{ 'entities.Package.status.' + status | transloco }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <span style="width: 2%"></span>

          <button type="submit" color="primary" mat-raised-button>
            <mat-icon>search</mat-icon>
          </button>

          <span style="width: 0.2%"></span>

          <button (click)="clear()" type="button" color="" mat-raised-button>
            <mat-icon>clear</mat-icon>
          </button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div
    class="mat-elevation-z0"
    fxFlex="96%"
    fxFlex.xs="100%"
    fxFlex.lt-md="100%"
    class="table-container"
  >
    <table
      mat-table
      [dataSource]="data"
      matSort
      matSortActive="createdAt"
      matSortDisableClear
      matSortDirection="asc"
      class="table-package"
    >
      <ng-container matColumnDef="description">
        <mat-header-cell mat-sort-header fxFlex="85%" *matHeaderCellDef
          >Descripción
        </mat-header-cell>
        <mat-cell fxFlex="85%" *matCellDef="let row">
          <h3>{{ row?.description }}</h3>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell mat-sort-header fxFlex="10%" *matHeaderCellDef
          >Fecha de creación
        </mat-header-cell>
        <mat-cell fxFlex="10%" *matCellDef="let row">
          <h3>{{ row?.createdAt | date : 'dd/MM/yyyy' }}</h3>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="weight">
        <mat-header-cell mat-sort-header fxFlex="10%" *matHeaderCellDef
          >Peso (kg)
        </mat-header-cell>
        <mat-cell fxFlex="10%" *matCellDef="let row">
          <h3>{{ row?.weight || 0 }} kg</h3>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="addresseeEmail">
        <mat-header-cell mat-sort-header fxFlex="20%" *matHeaderCellDef
          >Propietario
        </mat-header-cell>
        <mat-cell fxFlex="20%" *matCellDef="let row">
          <h3>{{ row?.addresseeEmail }}</h3>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell mat-sort-header fxFlex="10%" *matHeaderCellDef
          >{{ 'views.package.status' | transloco }}
        </mat-header-cell>
        <mat-cell fxFlex="10%" *matCellDef="let row">
          <h3>{{ 'entities.Package.status.' + row?.status | transloco }}</h3>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell fxFlex="5%" *matHeaderCellDef>Editar </mat-header-cell>
        <mat-cell fxFlex="5%" *matCellDef="let row">
          <button
            [disabled]="isDisabledEdit"
            mat-raised-button
            color="warn"
            [routerLink]="['package', row._id, 'update']"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
    <mat-paginator
      [length]="resultsLength"
      [pageSize]="pageSize"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
