<h2>Estimado cliente,</h2>
<p>
  Le ha sido enviado un paquete a través de
  <b>Pack Tracker</b>, para rastrear el envío haga click sobre el siguiente:
  <a href='{{url}}'>enlace</a></p>

<p><b>Código de acceso:</b> {{identifier}}</p>
