.card-trasit {
  background-image: url('/assets/transit.png');
  background-size: cover;
}

.card-delivered {
  background-image: url('/assets/goald.png');
  background-size: cover;
}

.card-recived {
  background-image: url('/assets/begin.png');
  background-size: cover;
}
