<div style="height: 100vh" fxLayout="row rap" fxLayoutAlign="center start">
  
    <mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn"></mat-progress-bar>
 

  <div
    style="height: 98vh"
    fxFlex="100%"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div
      class="container"
      fxFlex="65%"
      fxFlex.xs="100%"
      fxFlex.sm="100%"
      fxFlex.md="100%"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <div
        class="item"
        fxFlex="28%"
        fxFlex.xs="100%"
        fxFlex.sm="100%"
        fxFlex.md="40%"
      >
        <form
          [formGroup]="loginForm"
          #f="ngForm"
          (ngSubmit)="onSubmit()"
          class="form"
        >
          <mat-card class="card clarivia-window mat-elevation-z1">
            <mat-card-header fxLayout="column" fxLayoutAlign="center center">
              <img class="logo" src="./assets/logo.png" alt="logo" />
            </mat-card-header>
            
            <br />

            <mat-card-content>
              <mat-form-field
                style="cursor: pointer"
                class="full-width username"
                appearance="outline"
              >
                <mat-label>Correo o usuario</mat-label>
                <input
                  matInput
                  #emailOrUsername
                  type="text"
                  formControlName="email"
                  required
                />
                <button type="button" mat-icon-button matSuffix>
                  <mat-icon>person</mat-icon>
                </button>
                <mat-error> El campo no puede estar vacío </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width password" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input
                  #password
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                  min="6"
                  required
                />
                <button
                  type="button"
                  [disabled]="loading"
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? 'visibility_off' : 'visibility'
                  }}</mat-icon>
                </button>

                <mat-error> El campo debe tener mínimo 6 caracteres </mat-error>
              </mat-form-field>
            </mat-card-content>

            <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
              <button
                class="login-button"
                mat-raised-button
                type="submit"
                [disabled]="!loginForm.valid"
                aria-label="login"
              >
                <span>Entrar</span>
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </div>
  </div>
</div>
