.full-width {
  width: 100%;
}

.header-logo {
  align-items: center;
  justify-content: center;
}

mat-icon {
  cursor: pointer;
}

.login {
  background-position: center center;
  background-size: cover;
}

a.forgot-password-link {
  text-decoration: none;
}

.logo {
  height: 240px;
  width: 240px;
}
